In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from Analyse import visualizeImportance

def randomForest(labels, data):
    clf = RandomForestClassifier(random_state=42)
    X_train, X_test, y_train, y_test = train_test_split(data, labels, random_state=42)
    clf.fit(X_train, y_train)
    accuracy = clf.score(X_test, y_test)
    print('Accuracy of prediction: ','{:.2f}'.format(accuracy*100), '%')
    vis_featureImportance = input('Would you like to know the feature importance?(y/n):')
    if vis_featureImportance == 'y':
        visualizeImportance(data, clf)
    
    return clf

In [10]:
import pandas as pd
def data_sampling(data_labeled, FOA_label):
    sample_ELF = int(input('How many ELF?'))
    sample_FOA = int(input('How many FOA?'))
    k1=data_labeled[data_labeled['adjusted_earlylife_failure']==FOA_label-1].sample(sample_ELF, random_state = 42)
    k2=data_labeled[data_labeled['adjusted_earlylife_failure']==FOA_label].sample(sample_FOA, random_state = 42)
    k3=data_labeled[data_labeled['adjusted_earlylife_failure']==FOA_label+1].sample(sample_FOA, random_state = 42)
    data_labeled_sample = pd.concat([k1,k2,k3])
    labels = data_labeled_sample['adjusted_earlylife_failure']
    data_sample = data_labeled_sample.drop(columns = ['Unnamed: 0', 'adjusted_earlylife_failure','elf_days'])

    return data_sample, labels

In [21]:
from Analyse import prepareData
import numpy as np

file_name = input('Please give me your file name:')
data, labels, data_labeled, FOA_label = prepareData(file_name)

We have  746 parts 45  FOAs among them.

In [22]:
data_sample, labels = data_sampling(data_labeled, FOA_label)
clf = randomForest(labels, data_sample)
print(data_sample.shape)

Accuracy of prediction:  70.59 %
(135, 63)

In [28]:

def save_file(datas,value,filep):
    with pd.ExcelWriter(filep+'/tracing_{}.xlsx'.format(value)) as writer:
        for e in datas.keys():
            try:
                datas[e].to_excel(writer,sheet_name=e, index=False)
            except:# s'il marche pas, transformer à UTF-8 et réessayer
                datas[e]=datas[e].applymap(lambda x: x.encode('unicode_escape').decode('utf-8') if isinstance(x, str) else x)
                #applymap: apply a function to dataframe elementwise
                datas[e].to_excel(writer,sheet_name=e, index=False)
    print('saved !!')

In [ ]:
import datetime
import os
path = './log/'
folder_name = path+str(datetime.date.today())
if not os.path.exists(folder_name):
    os.mkdir(folder_name)

In [160]:
# Repaired part
import Modules_Tracing as tracing
import os

repair_po = input('Please register repair po')
historydata= tracing.tracing('repair', repair_po, 'F')
save_file(historydata,str(repair_po),folder_name)

Connecting to database...
connected
1689766906.8562293
SELECT [DW_ERT_KEY] [indices],[ITEM], [Item Description], [Current Item Type], [Current First Put-Away Date (FPAD)], [Current Item Status], [Vendor GSL Number], [Vendor Name],[Vendor Site Code], [PO1 PO Number], [PO1 Need By Date], [PO1 PO Header Description], [PO1 Approved Date], [PO1 Creation Date],  [PO1 Shipment Last Update Date], [PO1 Receipt Date], [PO1 PO Type], [PO1 PO Type DFF], [PO1 Authorization Status], [PO2 PO Number], [SO1 Shipping Warehouse], [FE Number], [FE SSO], [Failure Code],[Part Failure Analysis],[FE Comments],[Supplier Comments],[Analyst Comments], [Repair Status], [Repair Action], [Job Number], [SO1 SO Number], [SO1 SO Status], [SO1 Waybill], [SO1 Order Date], [SO1 Ship Date], [SO2 SO Number], [Serial Number], [Part Arrival Date], [Part Repaired Date]FROM [dbo].[vwErt] Where (1=1) AND [PO1 PO Number] = '601008043'
1689766907.9376636
it takes 1.0814342498779297 s
sr 238342KR0
1689766907.938722
SELECT [DW_ERT_KEY] [indices],[ITEM], [Item Description], [Current Item Type], [Current First Put-Away Date (FPAD)], [Current Item Status], [Vendor GSL Number], [Vendor Name],[Vendor Site Code], [PO1 PO Number], [PO1 Need By Date], [PO1 PO Header Description], [PO1 Approved Date], [PO1 Creation Date],  [PO1 Shipment Last Update Date], [PO1 Receipt Date], [PO1 PO Type], [PO1 PO Type DFF], [PO1 Authorization Status], [PO2 PO Number], [SO1 Shipping Warehouse], [FE Number], [FE SSO], [Failure Code],[Part Failure Analysis],[FE Comments],[Supplier Comments],[Analyst Comments], [Repair Status], [Repair Action], [Job Number], [SO1 SO Number], [SO1 SO Status], [SO1 Waybill], [SO1 Order Date], [SO1 Ship Date], [SO2 SO Number], [Serial Number], [Part Arrival Date], [Part Repaired Date]FROM [dbo].[vwErt] Where (1=1) AND [Serial Number] = '238342KR0'
1689766908.859046
it takes 0.9203240871429443 s
0    601008043
1    601045056
Name: PO1 PO Number, dtype: object
{'date_min': '20220307', 'date_max': '20220712'}
1689766909.323723
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [PO Number] = '601008043' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766913.6986349
it takes 4.374911785125732 s
{'date_min': '20220307', 'date_max': '20220712'}

  0%|          | 0/6 [00:00<?, ?it/s]

1689766913.7082078
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [FE Txn Group] = 'None' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766914.5041525
it takes 0.7959446907043457 s
1689766914.507651
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [LPN] = 'R00-4620800' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766915.3340666
it takes 0.8264155387878418 s
1689766915.3584845
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [Job Number] = 'None' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766916.114189
it takes 0.755704402923584 s
1689766916.116886
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [Job Number] = '0353791984' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766916.644544
it takes 0.5276579856872559 s
1689766916.6692474
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [Job Number] = '103228.2' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766917.1978788
it takes 0.5286314487457275 s
1689766917.2250123
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [Job Number] = '387890.1' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766917.7495787
it takes 0.5245664119720459 s
1689766917.780458
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [SO Number] = 'None' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766919.7989738
it takes 2.0185158252716064 s
1689766919.804532
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [SO Number] = '105603542' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766921.0004923
it takes 1.195960283279419 s
1689766921.0146184
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [SO Number] = '340664542' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766922.2023966
it takes 1.1877782344818115 s
1689766922.2133207
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [SO PO Link] = '122950626' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766923.1233585
it takes 0.9100377559661865 s
1689766923.1316075
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [SO PO Link] = '69334449' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766923.6404405
it takes 0.5088329315185547 s
1689766923.6535287
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [SO PO Link] = '69218254' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766924.177023
it takes 0.5234942436218262 s
1689766924.200528
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [PO Number] = '103228.2' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766925.262661
it takes 1.0621330738067627 s
1689766925.2827573
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [PO Number] = '387890.1' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766926.3528016
it takes 1.0700442790985107 s
{'date_min': '20220307', 'date_max': '20220712'}

  0%|          | 0/6 [00:00<?, ?it/s]

1689766926.3815444
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [FE Txn Group] = '340664542' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766926.858554
it takes 0.47700953483581543 s
1689766926.8677456
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [LPN] = 'R00-4548003' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766927.381265
it takes 0.513519287109375 s
1689766927.3867533
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [Job Number] = '1-10452611400' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766927.8924994
it takes 0.5057461261749268 s
1689766927.918008
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [SO Number] = '105629649' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766929.109703
it takes 1.191694974899292 s
{'date_min': '20220307', 'date_max': '20220712'}

  0%|          | 0/6 [00:00<?, ?it/s]

1689766929.1217067
SELECT [DW_TXN_KEY] [indices],[Transaction Day],[Transaction Type],[Transaction Description] ,[Transaction Sub-Type] ,[Transaction Category] ,[Txn Quantity],[Inventory Org],[Subinventory Code],[ITEM],[Item Description],[Job Number],[SO Number],[PO Number],[LPN],[FE Txn Group] [RMA],[SO PO Link],[Job Open Date],[PO Type],[FE SSO], [FE ORG],[System ID],[System Install Date],[Customer Number],[Customer Name],[Customer Country Code],[Customer Pole],[POLE],[LOCATOR],[Transfer Locator],[Vendor Name],[Vendor Site Code], [SO Type], [Reason Name],[PO Header Description],[Failure Description],[Waybill], [Freight Carrier], [SO PO Link Type],[Obso Pivot Code]FROM [dbo].[vwAllTxns_v3] Where (1=1) AND [LPN] = 'R00-4627954' AND [ITEM] = 'KTZ304128-R' AND [Transaction Day]>='20220307' AND [Transaction Day]<='20220712'
1689766929.6326616
it takes 0.5109548568725586 s
Search finished
Data Processing...

Collecting components data...
saved !!

In [201]:
# Collection des données
import Data_collection_nbINOUT as collecter
orgs = pd.read_excel(os.path.join('../liste_entrepot_avec_position.xlsx'))
summary = pd.read_excel(f'{folder_name}/tracing_{str(repair_po)}.xlsx', sheet_name='Summary')
df_sum = summary.T
df_sum.columns=df_sum.iloc[0]
df_sum=df_sum.drop(df_sum.index[0])
df_sum.set_index('Key_value',inplace=True)

In [353]:
data = df_sum[['Part Status','Customer Country','Customer POLE','Process_owner', 
               'Number of Warehouse', 'Number of returns', 'Number of Surplus', 'Number of Pole']]
data

Columns,Part Status,Customer Country,Customer POLE,Process_owner,Number of Warehouse,Number of returns,Number of Surplus,Number of Pole,Repair QTY
Key_value,,,,,,,,,
601008043,Shipped to FE and Returned Good,IN,AS,R00>A00>A31>SND>A31>SND>A31,3,1,1,2,2

In [354]:
adresses = collecter.get_position(data, orgs)
distances = collecter.col_distances(adresses)
before_consumption, after_consumption, INOUT=collecter.col_before_and_after(data, distances)
B_distances = [sum(e) for e in before_consumption]
A_distances = [sum(e) for e in after_consumption]
data['B_distances']=B_distances

R00 601008043
A00 601008043
A31 601008043
SND 601008043
A31 601008043
SND 601008043
A31 601008043

In [355]:
data

Columns,Part Status,Customer Country,Customer POLE,Process_owner,Number of Warehouse,Number of returns,Number of Surplus,Number of Pole,Repair QTY,B_distances
Key_value,,,,,,,,,,
601008043,Shipped to FE and Returned Good,IN,AS,R00>A00>A31>SND>A31>SND>A31,3,1,1,2,2,18116.0

In [356]:
data['séjourWHS'] = collecter.sejour_WHS(folder_name)
data['nb_Inout']=INOUT

In [357]:
data['Repair_center'] = collecter.search_key('Vendor Name', 'repair history',folder_name)
data['Repair_site_code'] = collecter.search_key('Vendor Site Code', 'repair history',folder_name)
data['Repaire_qty'] = collecter.search_key('Repair QTY', 'Summary', folder_name)
failure_type = collecter.get_failures(folder_name)
data['failure_type'] = failure_type
data['nb_FOA'] = collecter.failure_FOA(failure_type)
data['FE_SSO'] = collecter.search_key('FE SSO', 'FE Returns summary',folder_name)
data['SystemID'] = collecter.search_key('System ID','FE Returns summary',folder_name)
data['Carrier'] = collecter.search_key('Freight Carrier', 'FE Returns summary',folder_name)
data['SystemAge'] = collecter.system_age(folder_name)
data['FE visited'] = data['FE_SSO'].apply(lambda x: len(x) if isinstance(x, list) else None)

In [358]:
data.reset_index(inplace=True)

In [359]:
data

Columns,Key_value,Part Status,Customer Country,Customer POLE,Process_owner,Number of Warehouse,Number of returns,Number of Surplus,Number of Pole,Repair QTY,...,Repair_center,Repair_site_code,Repaire_qty,failure_type,nb_FOA,FE_SSO,SystemID,Carrier,SystemAge,FE visited
0,601008043,Shipped to FE and Returned Good,IN,AS,R00>A00>A31>SND>A31>SND>A31,3,1,1,2,2,...,"[GE Healthcare Austria GmbH & Co OG, GE Health...","[GPO ASIA 511, GPO ASIA 511]",2,[Debrief],0,[999981010],[83037845491721],[Saami],294.0,1

In [360]:
data2=collecter.analyse('Repair_center',data)

In [361]:
data2

Columns,Key_value,Part Status,Customer Country,Customer POLE,Process_owner,Number of Warehouse,Number of returns,Number of Surplus,Number of Pole,Repair QTY,...,Repair_site_code,Repaire_qty,failure_type,nb_FOA,FE_SSO,SystemID,Carrier,SystemAge,FE visited,GE Healthcare Austria GmbH & Co OG
0,601008043,Shipped to FE and Returned Good,IN,AS,R00>A00>A31>SND>A31>SND>A31,3,1,1,2,2,...,"[GPO ASIA 511, GPO ASIA 511]",2,[Debrief],0,[999981010],[83037845491721],[Saami],294.0,1,2

In [362]:
data3 = collecter.analyse('Repair_site_code', data2)

In [363]:
data4=collecter.analyse('Carrier', data3)

In [364]:
data4.columns

Index(['Key_value', 'Part Status', 'Customer Country', 'Customer POLE',
       'Process_owner', 'Number of Warehouse', 'Number of returns',
       'Number of Surplus', 'Number of Pole', 'Repair QTY', 'B_distances',
       'séjourWHS', 'nb_Inout', 'Repair_center', 'Repair_site_code',
       'Repaire_qty', 'failure_type', 'nb_FOA', 'FE_SSO', 'SystemID',
       'Carrier', 'SystemAge', 'FE visited',
       'GE Healthcare Austria GmbH & Co OG', 'GPO ASIA    511', 'Saami'],
      dtype='object', name='Columns')

In [365]:
data4['séjourWHS'][0][0]

{'A00': 14, 'A31': 14, 'R00': 9, 'SND': 28}

In [366]:
def whs_transformer(data):
    dict = data['séjourWHS'][0][0]
    data['max_whs']=max(dict, key=dict.get)
    data['max_whs_jours']=max(dict.values())

    data['min_whs']=min(dict, key=dict.get)
    data['min_whs_jours']=min(dict.values())

    data['median_whs']=sorted(dict, key=lambda x: x[1])[int(len(dict)/2)]
    data['median_whs_jours']=sorted(dict.values())[int(len(dict)/2)]

    return data

In [367]:
data5 = whs_transformer(data4)

In [368]:
data5

Columns,Key_value,Part Status,Customer Country,Customer POLE,Process_owner,Number of Warehouse,Number of returns,Number of Surplus,Number of Pole,Repair QTY,...,FE visited,GE Healthcare Austria GmbH & Co OG,GPO ASIA 511,Saami,max_whs,max_whs_jours,min_whs,min_whs_jours,median_whs,median_whs_jours
0,601008043,Shipped to FE and Returned Good,IN,AS,R00>A00>A31>SND>A31>SND>A31,3,1,1,2,2,...,1,2,2,1,SND,28,R00,9,A31,14

In [369]:
def FE_exp(data):
    df_SSO = pd.read_excel('../FE_data/GE HealthCare Employees 2023-05-27.xlsx', sheet_name='Active')
    df_date_embauche = df_SSO[['FE_SSO', 'Exp']]
    # df_date_embauche.set_index('Employee ID',inplace=True)
    df_FE = data[['FE_SSO']]
    df_FE['FE_SSO']=df_FE['FE_SSO'].astype(str)
    df_FE['FE_SSO']=df_FE['FE_SSO'].apply(lambda x: x.strip('][').split(', '))
    df_FE = df_FE.explode('FE_SSO')
    df_FE['FE_SSO']=df_FE['FE_SSO'].apply(lambda x: x[:-2] if x.endswith('.0') else x)
    df_date_embauche['FE_SSO']=df_date_embauche['FE_SSO'].astype(str)
    df_merged_exp = df_FE.merge(df_date_embauche, on='FE_SSO', how = 'left')
    df_merged_exp.set_index(df_FE.index,inplace = True)
    df_merged_exp.dropna(subset= ['Exp'],inplace=True)
    df_average_exp = df_merged_exp.groupby(level=0)['Exp'].mean()
    data['FE_exp']=df_average_exp
    return data

In [370]:
data6=FE_exp(data5)
cols_drop = ['Part Status','Process_owner','Repair QTY','séjourWHS','Repair_center','Repair_site_code',
                'failure_type',  'FE_SSO', 'SystemID', 'Carrier']
for i in data6.columns.tolist():
    if 'Unnamed' in str(i):
        cols_drop.append(i)
    if 'Key_value' in str(i):
        cols_drop.append(i)
    if 'Columns' in str(i):
        cols_drop.append(i)
data6.drop(columns=cols_drop, inplace=True)

In [372]:
data6

Columns,Customer Country,Customer POLE,Number of Warehouse,Number of returns,Number of Surplus,Number of Pole,B_distances,nb_Inout,Repaire_qty,nb_FOA,...,GE Healthcare Austria GmbH & Co OG,GPO ASIA 511,Saami,max_whs,max_whs_jours,min_whs,min_whs_jours,median_whs,median_whs_jours,FE_exp
0,IN,AS,3,1,1,2,18116.0,6,2,0,...,2,2,1,SND,28,R00,9,A31,14,NaN

In [373]:
test = data6

In [374]:
def encoder_ref(name, col, data):
    ref = pd.read_excel(f'../Label_Encoders/label_encoders_{name}.xlsx')
    for colonne in col:
        tofind = data.loc[0,colonne]
        i=0
        for elem in ref[colonne].tolist():
            # print(elem, tofind)
            if elem == tofind:
                found = i
                data[colonne]=found
                break
            i=i+1
    
    return data

In [375]:
data6 = encoder_ref('Probe', ['Customer Country', 'Customer POLE','max_whs', 'min_whs', 'median_whs'], data6)

AU IN
BD IN
BR IN
CA IN
ES IN
FR IN
GB IN
HR IN
ID IN
IN IN
AM AS
AS AS
A00 SND
A09 SND
A11 SND
A21 SND
A30 SND
A31 SND
A32 SND
A36 SND
A37 SND
A38 SND
R00 SND
R12 SND
R13 SND
R35 SND
R40 SND
SAE SND
SAS SND
SAU SND
SBE SND
SCA SND
SCH SND
SDE SND
SES SND
SFR SND
SGB SND
SGR SND
SID SND
SIT SND
SJP SND
SKR SND
SND SND
A00 R00
A05 R00
A09 R00
A11 R00
A21 R00
A31 R00
A32 R00
A36 R00
A37 R00
A38 R00
R00 R00
A11 A31
A14 A31
A21 A31
A30 A31
A31 A31

In [382]:
template = pd.read_excel('template.xlsx')
final = pd.concat([template, data6])
final.fillna(0,inplace=True)
final.to_excel('kjkj.xlsx')

In [381]:
cols = ['failed_part_description','failed_part_item_type','product_group','product_identifier',
        'family_name','Activity_Month_Close_Date','region_description',	'goldseal_flag']
for col in cols:
    data6.loc[0,col]=int(input(f'{col}:'))
    
data6.fillna(0)

Columns,Customer Country,Customer POLE,Number of Warehouse,Number of returns,Number of Surplus,Number of Pole,B_distances,nb_Inout,Repaire_qty,nb_FOA,...,median_whs_jours,FE_exp,failed_part_description,failed_part_item_type,product_group,product_identifier,family_name,Activity_Month_Close_Date,region_description,goldseal_flag
0,9,1,3,1,1,2,18116.0,6,2,0,...,14,0.0,3,2,1,3,1,2,1,1

In [386]:
def generate_prime(features):
    test_prime = pd.DataFrame()
    for col in features:
        test_prime.loc[0,col]=float(input(f'{col}:'))
        print(test_prime[col])
    return test_prime

generate_prime(cols)

0    2.0
Name: failed_part_description, dtype: float64
0    2.0
Name: failed_part_item_type, dtype: float64
0    2.0
Name: product_group, dtype: float64
0    2.0
Name: product_identifier, dtype: float64
0    2.0
Name: family_name, dtype: float64
0    2.0
Name: Activity_Month_Close_Date, dtype: float64
0    2.0
Name: region_description, dtype: float64
0    2.0
Name: goldseal_flag, dtype: float64

,failed_part_description,failed_part_item_type,product_group,product_identifier,family_name,Activity_Month_Close_Date,region_description,goldseal_flag
0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [144]:
random_test = np.random.rand(1,60)
data_test = data.loc[1].values
data_test = np.reshape(data_test, (-1,60))
print(data_test.shape)
RES = clf.predict_proba(data_test)

KeyError: 1

In [31]:
RES.shape

(1, 3)

In [36]:
float(RES[:,2])

0.96

In [1]:
import pandas as pd
from prediction_tool import data_sampling,data_sampling2,prepareData,randomForest

In [2]:
data = pd.read_excel('../Probe/Avant_cluster2023-07-12_ALL.xlsx')
data, labels, data_labeled, FOA_label = prepareData('../Probe/Avant_cluster2023-07-12_ALL.xlsx')

We have  746 parts 45  FOAs among them.

In [3]:
data, labels = data_sampling(data_labeled)
data_labeled2 = data_labeled
data_labeled2.loc[data_labeled2['adjusted_earlylife_failure']==2, 'adjusted_earlylife_failure']=0
data2,labels2 = data_sampling2(data_labeled2)
randomForest(labels2, data2)

Accuracy of prediction:  95.65 %

RandomForestClassifier(random_state=42)

In [3]:
from prediction_tool import prepareData_prime, randomForest, data_sampling
data_labeled = class2
data_labeled = data_labeled[(data_labeled['Repaire_qty']>0) & (data_labeled['Repaire_qty']<10)]
dropIndex = data_labeled[(data_labeled['Repaire_qty']==0) | (data_labeled['SystemAge']<0)].index
data_labeled.drop(index=dropIndex, inplace = True)
cols_drop = ['adjusted_earlylife_failure','elf_days']
# cols_drop = ['adjusted_earlylife_failure']
for i in data_labeled.columns.tolist():
    if 'Unnamed' in str(i):
        cols_drop.append(i)
data = data_labeled.drop(columns = cols_drop)
data = data.loc[:, data.any()] # enlever les colonnes tous 0
labels = data_labeled['adjusted_earlylife_failure']
FOA_label = int(input('Tell us FOA label:'))
nb_FOA = len(data_labeled[data_labeled['adjusted_earlylife_failure']==FOA_label].index)
print('We have ', len(data_labeled.index), 'parts', nb_FOA, ' FOAs among them.')

We have  746 parts 45  FOAs among them.

In [6]:
import numpy as np
sample_ELF = len(data_labeled[data_labeled['adjusted_earlylife_failure']==0].index)
sample_FOA = len(data_labeled[data_labeled['adjusted_earlylife_failure']==1].index)
nb_sample = np.min([sample_ELF, sample_FOA])

k1=data_labeled[data_labeled['adjusted_earlylife_failure']==0].sample(nb_sample)
k2=data_labeled[data_labeled['adjusted_earlylife_failure']==1].sample(nb_sample)
data_labeled_sample = pd.concat([k1,k2])
labels = data_labeled_sample['adjusted_earlylife_failure']

data_sample = data_labeled_sample.drop(columns = ['Unnamed: 0', 'adjusted_earlylife_failure', 'elf_days'])

In [8]:
clf = randomForest(labels, data_sample)

Accuracy of prediction:  91.30 %